{% extends 'movie_app/html/base.html' %}

{% block title %}Фильмы{% endblock %}

{% block content %}
    <h2>Список фильмов</h2>
    <ul>
    {% for movies in movies %}

        <li>
            <a href="{{ movies.get_url }}"> {{ movies.name }} </a>,
            рейтинг: {{ movies.rating }},
            год: {{ movies.year|default:'Неизвестно' }}
        </li>

    {% endfor %}
    </ul>

<h3> Средний бюджет {{ agg.budget__avg | floatformat:"0" }} </h3>
<h3> Максимальный рейтинг {{ agg.rating__max }} </h3>
<h3> Минимальный рейтинг {{ agg.rating__min }} </h3>
<h3> Всего фильмов {{ agg.id__count }} </h3>

{% endblock %}















